*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

header  {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height:10vh;
}

li {
    display: inline-flex;
    margin: 1.5rem;
    color: brown;

}
li:hover{
    color: black;
}
.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align: center;
    
}
.about h2 {
    text-align: center;
    padding-top:25px;
    padding-bottom:20px;
    color: brown;
}

.link {
    color: rgb(235, 78, 78);
    
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid black;
    justify-content: space-around;
    background: rgba(207, 114, 114, 0.25);
 
    

}
.card{
    width:22%;
    border: 1px solid black;
    border-radius:20px;
    margin:10px 0;
    background-color:rgb(241, 192, 192);
}
.cardContainer h2{
    width:100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    color:brown;
}
.logo {
    width:91px;
    margin-top: 5px;
    margin-left: 30px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    
}
.cart {
    
    text-align: center;
    
}

.footer {
    position: fixed;
    height:10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(77, 52, 52);
    padding-top: 25px;
    color: brown;

}
label {
    display:block;
}

section{
    height: 80vh;

 background-image: url("./assets/pic.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position:center;
 /* background: rgba(207, 114, 114, 0.25); */
 
}

.login {
    /* position: relative; */
    display: block;
    text-align: center;
    padding-top:10%;
   
    
}


.login input {
    width: 50%;
    padding:12px 20px;
    margin: 8px 0;
    border-radius: 4px;
}
.login button {
    display:block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    background-color: rgb(206, 191, 173);
    color: white;
}
.login h2 {
    font-size: 50px;
    padding-bottom: 10px;
}

.total {
    border : 1px solid #666;
    position : fixed;
    color:rgb(173, 84, 84);
    font-size: 1.4rem;
    right: 40px;
    bottom: 100px;
    } 
.login {
    margin:auto 0 ;
}

